@font-face {
    font-family: 'Druk';
    src: url('Druk-Medium.woff2') format('woff2'),
        url('Druk-Medium.woff') format('woff'),
        url('Druk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Druk';
    src: url('Druk-Bold.woff2') format('woff2'),
        url('Druk-Bold.woff') format('woff'),
        url('Druk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

